@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 1.36;
  }

  * {
    scrollbar-color: theme("colors.ar-black") transparent;
    scrollbar-width: thin;
  }

  .touch-area {
    position: relative;
  }

  .touch-area::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 45px;
    height: 100%;
    min-height: 45px;
    transform: translate(-50%, -50%);
  }

  input[data-com-onepassword-filled] {
    background-clip: text;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
